.Header {
  margin: 10px auto;
  /* width: 80%; */
  text-align: center;
}

a {
  color: #8F5C2C;
  text-decoration: none;
  padding: 10px 10px;
  box-sizing: border-box;
  display: inline-block;
}

a:hover, a:active, a.active {
  color: #40A4C8;
  display: inline-block;
}